<div class="container">
  <div class="row">
    <h2 class="text-center">{{ title }}</h2>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="mb-3">
        <select class="form-select" name="filter" [(ngModel)]="selectedFilter">
          <option value="1">All</option>
          <option value="2">Completed</option>
          <option value="3">Uncompleted</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="newWishlist" class="form-label">Wishlist</label>
        <input
          [(ngModel)]="newWishlist.text"
          name="wishlistText"
          type="text"
          class="form-control"
          id="newWishlist"
        />
        <br>
      </div>
      <button (click)="$event.preventDefault(); addNewWish()" class="btn btn-primary">Submit</button>
    </div>
  </div>
  <wish-list [wishlists]="visibleWishlists"></wish-list>
</div>
